<!DOCTYPE html>
<html>
<head>
    <title>Notícia Detalhada</title>
</head>
<body>
    
    <h1>Detalhes da Notícia</h1>
    {% if noticia_principal %}
        <h2>{{ noticia_principal.title }}</h2>
        <p>{{ noticia_principal.content }}</p>
        <a href="{{ noticia_principal.url }}" target="_blank">Leia a notícia completa</a>
    {% else %}
        <p>Notícia não encontrada</p>
    {% endif %}

    <h2>Notícias Relacionadas</h2>
    <ul>
        {% for noticia in noticias_relacionadas %}
            <li><a href="{% url 'detalhes_noticia' noticia.url %}">{{ noticia.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Comentários</h2>
    <ul>
        {% if comentarios %}
            {% for comentario in comentarios %}
                <li>{{ comentario.texto }} ({{ comentario.data_hora|date:"Y-m-d H:i:s" }})
            {% endfor %}
        {% else %}
            <p>Nenhum comentário disponível.</p>
        {% endif %}
    </ul>

    <h2>Adicionar Comentário</h2> 
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar Comentário</button>
    </form>

    
</body>
</html>
