<!DOCTYPE html>
<html>
<head>
    <title>Notícia Detalhada</title>
</head>
<body>
    <h1>Detalhes da Notícia</h1>
    {% if noticia %}
        <h2>{{ noticia.title }}</h2>
        <p>{{ noticia.content }}</p>
        <a href="{{ noticia.url }}" target="_blank">Leia a notícia completa</a>
    {% else %}
        <p>Notícia não encontrada</p>
    {% endif %}

    <h2>Notícias Relacionadas</h2>
    <ul>
        {% for noticia in noticias_relacionadas %}
            <li><a href="{{ noticia.url }}">{{ noticia.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
