<!DOCTYPE html>
<html>
<head>
    <title>Notícias Principais</title>
</head>
<body>
    <form method="get">
      <label for="categoria">Filtrar por categoria:</label>
      <select name="categoria" id="categoria" multiple>
        <option value="sports">Esportes</option>
        <option value="science">Ciência</option>
        <!-- Adicione mais opções de categoria conforme necessário -->
      </select>
      <input type="submit" value="Filtrar" />
    </form>
    <h1>Notícias Principais</h1>
    <ul>
      {% for noticia in noticias_principais %}
          <li>
              <a href="{% url 'detalhes_noticia' noticia.title %}">{{ noticia.title }}</a>
          </li>
      {% endfor %}
  </ul>
  

    <h2>Notícias da BBC</h2>
    <a href="{% url 'noticias_bbc' %}">Ver Notícias da BBC</a>

    <h2>Notícias da CNN</h2>
    <a href="{% url 'noticias_cnn' %}">Ver Notícias da CNN</a>
</body>
</html>
