<!DOCTYPE html>
<html>
<head>
    <title>Notícias Principais</title>
</head>
<body>
    <form method="get">
      <label for="categoria">Categorias</label>
      <select name="categoria" id="categoria">
        <option value="business">Empreendedorismo</option>
        <option value="entertainment">Entretenimento</option>
        <option value="health">Saúde</option>
        <option value="science">Ciência</option>
        <option value="sports">Esportes</option>
        <option value="technology">Tecnologia</option>
      </select>
      <input type="submit" value="Filtrar" />
    </form>

    <div>
      <button>Jornais</button>
      <div>
        <a href="{% url 'noticias_bbc' %}">Ver Notícias da BBC</a>
        <a href="{% url 'noticias_cnn' %}">Ver Notícias da CNN</a>
      </div>
    </div>

    <h1>Notícias Principais</h1>
    <ul>
      {% for noticia in noticias_principais %}
          <li>
              <a href="{% url 'detalhes_noticia' noticia.url %}">{{ noticia.title }}</a>
          </li>
      {% endfor %}
  </ul>
</body>
</html>
