{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Notícias Principais</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    
  </head>
  <body class="light-theme">
    <img src="{% static 'figuras/toggle-light-theme.png' %}" alt="Alternar Tema" id="theme-toggle" style="width: 10%; height:auto; right: 0; left: 0">

    <nav class="nav-inicio">
      <div class="left-div">
        <div>
          <a class="titulo-newz" href="{% url 'noticias_principais' %}">
            <img src="{% static 'figuras/newz-light-theme.png' %}" alt="Ícone" class="icon" id="logo">
            newz
          </a>
        </div>
      
        <div class="dropdown" style="margin-left: 10%; margin-right: -5%;">
          <button class="dropbtn">News Outlets</button>
            <div class="dropdown-content">
              <a href="{% url 'noticias_bbc' %}">BBC</a>
              <a href="{% url 'noticias_cnn' %}">CNN</a>
            </div>
            <img src="{% static 'figuras/dropdown-light-theme.png' %}" alt="Ícone2" class="icon2" id="setinha">
        </div>

        <div class="dropdown">
          <button class="dropbtn">Categories</button>
            <div class="dropdown-content">
              <a href="{% static 'noticias_ciencia.html' %}">Science</a>
              <a href="{% static 'noticias_empreendedorismo.html' %}">Entrepreneurship</a>
              <a href="{% static 'noticias_esportes.html' %}">Sports</a>
              <a href="{% static 'noticias_entretenimento.html' %}">Entertainment</a>
              <a href="{% static 'noticias_saude.html' %}">Health</a>
              <a href="{% static 'noticias_tecnologia.html' %}">Technology</a>
            </div>
            <img src="{% static 'figuras/dropdown.png' %}" alt="Ícone2" class="icon2" id="setinha">
        </div>
      </div>

      <div class="right-div">
        <form class="form-pesquisa" method="GET" action="{% url 'resultados_pesquisa' %}">
          <input class="input-pesquisa" type="text" name="q" placeholder="Search news" >
        </form>
        
        
        {% if user.is_authenticated %}
        <div class="logado">
          <h3>Hello, {{ user.username }}!</h3> 
          <a href="{% url 'custom_logout' %}">
            Sign out
          </a>
        </div>
        {% else %}
        <div class="entrar">
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %} {{ form.as_p }}
            <button class="entrar-btn" type="submit">
              Sign in
            </button>
          </form>
          <p>
            <a href="{% url 'signup' %}">
              <button class="cadastrar-btn">
                  Sign up
              </button>
            </a>
          </p>
        {% endif %}
        </div>
      </div>
    </nav>

  
    <h1 class="title">Highlights</h1>
    <div class="noticias">
      {% for noticia in noticias_principais %}
      {% if forloop.counter <= 6 %}
      <div class="noticia">
        <a href="{% url 'detalhes_noticia' noticia.url %}">
          <div class="conteudo">
            <div class="imagem-container">
              <div class="imagem-noticia">
                <img class="zoom-image" src="{{ noticia.urlToImage }}" alt="{{ noticia.title }}">
              </div>
            </div>
            <h2 class="titulo-noticia">{{ noticia.title }}</h2>
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <h1 class="title" style="margin-top: -30px;">Latest news</h1>
    <div class="lista-noticias">
      {% for noticia in noticias_principais %}
      {% if forloop.counter > 6 %}
        <div class="nova-noticia">
          <a href="{% url 'detalhes_noticia' noticia.url %}">
            <div class="nova-img-div">
              <img src="{{ noticia.urlToImage }}" alt="{{ noticia.title }}" class="imagem-lista">
            </div>
            <div class="noticia-title">
              <h2 class="abreviar">{{ noticia.title }}</h2>
              <p> By {{noticia.author}}</p>
              <p> Published at: {{noticia.publishedAt}}</p>
            </div>
          </a>
        </div>
      {% endif %}
      {% endfor %}
    </div>

  <div class="footer">
    <div>
        IHC &copy; 2023
    </div>
    <div>
        <a href="https://github.com/GabrielSiqueira1/Newz">
          <img src="{% static 'figuras/github-light-theme.png' %}" alt="icon3" class="icon3" id="git">
        </a>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const themeToggle = document.getElementById('theme-toggle'); // Adicione um botão de alternância com id="theme-toggle"
      const body = document.body;
      const currentTheme = localStorage.getItem('theme') || 'light-theme';
    
      body.classList.add(currentTheme);

      themeToggle.addEventListener('click', function () {
        document.body.classList.toggle('dark-theme');
        const newTheme = body.classList.contains('dark-theme') ? 'dark-theme' : 'light-theme';
        localStorage.setItem('theme', newTheme);
        updateSeta();
        updateLogo();
        updateGit();
        updateThemeIcon();
      });
      function updateThemeIcon(){
        const themeicon = document.getElementById('theme-toggle');
        const currentTheme = body.classList.contains('dark-theme') ? 'dark' : 'light';

        themeicon.src = '../figuras/toggle-${currentTheme}.png'
      }
      function updateSeta(){
        const seta = document.getElementById('setinha');
        const currentTheme = body.classList.contains('dark-theme') ? 'dark' : 'light';

        seta.src = '../figuras/dropdown-${currentTheme}.png'
      }
      function updateLogo(){
        const logo = document.getElementById('logo');
        const currentTheme = body.classList.contains('dark-theme') ? 'dark' : 'light';

        logo.src = '../figuras/newz-${currentTheme}.png'
      }
      function updateGit(){
        const git = document.getElementById('git');
        const currentTheme = body.classList.contains('dark-theme') ? 'dark' : 'light';

        git.src = '../figuras/github-${currentTheme}.png'
      }
    });
  </script>
  </body>
</html>
