{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Resultados da Pesquisa</title>
    <link rel="icon" type="image/png" href="{% static 'figuras/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-resultados-pesquisa.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
  </head>
  <body class="light-theme">
    <div class="access">
      <img src="{% static 'figuras/toggle-light-theme.png' %}" alt="Alternar Tema" id="theme-toggle" class="toggle">

      <button onclick="alterarFonte('pequeno')" id="btn-pequeno">
        <img src="{% static 'figuras/dim-fonte-light-theme.png' %}" alt="fonte pequena" id="fonte-pequena">
      </button>
      <button onclick="alterarFonte('normal')" id="btn-normal" class="ativo">
        <img src="{% static 'figuras/fonte-normal-light-theme.png' %}" alt="fonte normal" id="fonte-normal">
      </button>
      <button onclick="alterarFonte('grande')" id="btn-grande">
        <img src="{% static 'figuras/aum-fonte-light-theme.png' %}" alt="fonte grande" id="fonte-grande">
      </button>     
    </div>

    <nav class="nav-inicio">
      <div class="left-div">
        <div>
          <a class="titulo-newz" href="{% url 'noticias_principais' %}">
            <img src="{% static 'figuras/newz-light-theme.png' %}" alt="Ícone" class="icon" id="logo">
            newz
          </a>
        </div>
      
        <div class="dropdown" style="margin-left: 10%; margin-right: -5%;">
          <button class="dropbtn">News Outlets</button>
            <div class="dropdown-content">
              <a href="{% url 'noticias_bbc' %}">BBC</a>
              <a href="{% url 'noticias_cnn' %}">CNN</a>
              <a href="{% url 'noticias_wsj' %}">WSJ</a>
            </div>
            <img src="{% static 'figuras/dropdown-light-theme.png' %}" alt="Ícone2" class="icon2" id="setinha">
        </div>

        <div class="dropdown">
          <button class="dropbtn">Categories</button>
            <div class="dropdown-content">
              <a href="{% url 'noticias_ciencia' %}">Science</a>
              <a href="{% url 'noticias_esportes' %}">Sports</a>
              <a href="{% url 'noticias_entretenimento' %}">Entertainment</a>
              <a href="{% url 'noticias_saude' %}">Health</a>
              <a href="{% url 'noticias_tecnologia' %}">Technology</a>
            </div>
            <img src="{% static 'figuras/dropdown-light-theme.png' %}" alt="Ícone2" class="icon2" id="setinha">
        </div>
      </div>

      <div class="right-div">
        <form class="form-pesquisa" method="GET" action="{% url 'resultados_pesquisa' %}">
          <input class="input-pesquisa" type="text" name="q" placeholder="{{ query }}" >
        </form>
        
        
        {% if user.is_authenticated %}
        <div class="logado">
          <h3>Hello, {{ user.username }}!</h3> 
          <a href="{% url 'custom_logout' %}">
            Sign out
          </a>
        </div>
        {% else %}
        <div class="entrar">
          <a href="{% url 'login' %}">
            <button class="entrar-btn">
              Sign in
            </button>
          </a>
          <a href="{% url 'signup' %}">
            <button class="cadastrar-btn">
                Sign up
            </button>
          </a>
        {% endif %}
        </div>
      </div>
    </nav>>

    <h1 class="title">Resultados da pesquisa para: "{{ query }}"</h1>
    <div class="dropdown-ord">
      <form method="get">
        <input type="hidden" name="q" value="{{ query }}">
        <button class="btn-ord">Ordernar por:</button>
        <div class="dropdown-content-ord">
            <button type="submit" name="ordenar" value="asc">Mais antigos primeiro</button> 
            <button type="submit" name="ordenar" value="desc">Mais recentes primeiro</button>
        </div>
      </form>
    </div>
    <div class="lista-noticias">
      {% for noticia in resultados %}
        <div class="nova-noticia">
          <a href="{% url 'detalhes_noticia' noticia.url %}">
            <div class="nova-img-div">
              <img src="{{ noticia.urlToImage }}" alt="{{ noticia.title }}" class="imagem-lista">
            </div>
            <div class="noticia-title">
              <h2 class="abreviar">{{ noticia.title }}</h2>
              <p> By {{noticia.author}}</p>
              <p> Published at: {{noticia.publishedAt}}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="sem-resultados">
      {% if not resultados %}
          <h3>Nenhum resultado encontrado para: "{{ query }}"</h3>
      {% endif %}
    </div>

    <div class="footer">
      <div>
          IHC &copy; 2023
      </div>
      <div>
          <a href="https://github.com/GabrielSiqueira1/Newz">
            <img src="{% static 'figuras/github-light-theme.png' %}" alt="icon3" class="icon3" id="git">
          </a>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const themeToggle = document.getElementById('theme-toggle'); // Adicione um botão de alternância com id="theme-toggle"
        const body = document.body;
        const currentTheme = localStorage.getItem('theme') || 'light-theme';
      
        body.classList.add(currentTheme);
  
        themeToggle.addEventListener('click', function () {
          document.body.classList.toggle('dark-theme');
          const newTheme = body.classList.contains('dark-theme') ? 'dark-theme' : 'light-theme';
          localStorage.setItem('theme', newTheme);
  
        });
        
      });
    </script>
    <script>
      const tamanhosOriginais = {};
      const elementos = document.querySelectorAll('.dropdown, .dropbtn, .cadastrar-btn, .entrar-btn, .input-pesquisa, .noticia, .noticia-title, .title, .logado');
      const botoes = document.querySelectorAll('button');
    
      elementos.forEach(elemento => {
        const tamanhoInicial = parseFloat(window.getComputedStyle(elemento).fontSize);
        tamanhosOriginais[elemento.className] = tamanhoInicial;
      });
    
      function salvarTamanhoSelecionado(tamanho) {
        localStorage.setItem('tamanhoSelecionado', tamanho);
      }
    
      function obterTamanhoSelecionado() {
        return localStorage.getItem('tamanhoSelecionado') || 'normal';
      }
    
      function aplicarTamanhoSalvo() {
        const tamanhoSalvo = obterTamanhoSelecionado();
        alterarFonte(tamanhoSalvo);
    
        // Adicionar a classe 'ativo' ao botão correspondente ao tamanho salvo
        const botaoSalvo = document.getElementById(`btn-${tamanhoSalvo}`);
        if (botaoSalvo) {
          botaoSalvo.classList.add('ativo');
        }
      }
    
      // Adicionar um evento de carga para aplicar o tamanho salvo quando a página carregar
      window.addEventListener('load', aplicarTamanhoSalvo);
    
      function alterarFonte(tamanho) {
        salvarTamanhoSelecionado(tamanho); // Salvar o tamanho selecionado
    
        elementos.forEach(elemento => {
          let novoTamanho;
    
          switch (tamanho) {
            case 'pequeno':
              novoTamanho = tamanhosOriginais[elemento.className] * 0.8;
              break;
            case 'normal':
              novoTamanho = tamanhosOriginais[elemento.className];
              break;
            case 'grande':
              novoTamanho = tamanhosOriginais[elemento.className] * 1.2;
              break;
            default:
              novoTamanho = tamanhosOriginais[elemento.className];
          }
    
          elemento.style.fontSize = `${novoTamanho}px`;
        });
    
        // Remover a classe 'ativo' de todos os botões
        botoes.forEach(botao => {
          botao.classList.remove('ativo');
        });
    
        // Adicionar a classe 'ativo' ao botão clicado
        const botaoClicado = document.getElementById(`btn-${tamanho}`);
        if (botaoClicado) {
          botaoClicado.classList.add('ativo');
        }
      }
    </script>
  </body>
</html>
