.light-theme {
    margin: 0;
    padding: 0;
    user-select: none;
}

.light-theme .title {
    clear: both;
    padding: 40px;
    font-family: 'Jost', sans-serif;
    margin-left: 125px;
    font-size: 300%;
}

.light-theme .nav-inicio {
    width:100%;
    position: sticky;
    top: -15px;
    background: white;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.light-theme .icon {
    width: 140px; 
    height: auto; 
    max-width: 140px;
}

.light-theme .icon2 {
    width: 6%; 
    height: auto; 
    vertical-align: middle;
}

.light-theme .left-div {
    display: flex;
    margin-top: 1%;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    text-align:left;
}

.light-theme .right-div {
    margin-right: 7%;
    display: flex;
    margin-top: 1%;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.light-theme .dropbtn {
    font-family: 'Jost', sans-serif; 
    font-weight: bold; 
    font-size: 22px;
    border: none;
    color:black;
    background: none;
}

/* The container <div> - needed to position the dropdown content */


/* Dropdown Content (Hidden by Default) */
.light-theme .dropdown-content {
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.light-theme .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Jost', sans-serif; 
    font-weight: bold;
}

/* Change color of dropdown links on hover */
.light-theme .dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.light-theme .dropdown:hover .dropdown-content {
    display: block;
}

.light-theme .logado {
    min-width: 50%;
    max-width: 50%;
    margin-left: 30px; 
    margin-right: 10px;
    padding-top: 20px;
    font-size: 150%;
    font-family: 'Jost', sans-serif; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.light-theme .logado h3 {
    align-self: flex-end;
    margin-bottom: -2%;
    margin-top: 0;
}

.light-theme .logado a {
    margin-right: 5%;
    color: black;
    margin-top: auto; /* Faz com que o link seja alinhado à parte inferior */
    align-self: flex-end; /* Justifica o link à direita */
    border-radius: 10px;
    text-align: center;
}

.light-theme .logado a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('fonts/JetBrainsMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.light-theme .footer {
    position: absolute;
    width: 95vw;
    display: flex;
    justify-content: space-between;
    padding: 10px; /* Espaçamento interno */
    font-family: 'Jost', sans-serif;
    margin-left: 2%;
    margin-top: 5%;
    margin-right: 2%;
}

.light-theme .footer img {
    width: 40px; 
    height: 40px; 
    margin-bottom: 20px;
}

.light-theme .lista-noticias {
    column-count: 2;
    list-style: none;
    padding: 0;
    margin: 0 auto; /* Adicione margens automáticas à esquerda e à direita para centralizar o conteúdo */
    margin-left: 8%;
    margin-right: 8%;
}

.light-theme .sem-resultados h3 {
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    margin-bottom: 22%;
}

.light-theme .lista-noticias .nova-noticia {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    width: 40vw;
    height: 11vw;
}

.light-theme .lista-noticias .nova-noticia img {
    width: 20vw;
    height: 11vw;
    vertical-align: middle; /* Centralize verticalmente as imagens */
    border-radius: 10px;
}

.light-theme .lista-noticias .nova-noticia .noticia-title {
    flex: 1; /* Faz com que o texto ocupe todo o espaço restante */
    color: black;
    font-size: 1vw;
}

.light-theme .lista-noticias .nova-noticia a {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remova a sublinhado padrão dos links */
}


.light-theme .lista-noticias .nova-noticia img, .lista-noticias .nova-noticia h2, .lista-noticias .nova-noticia p {
    vertical-align: middle;
    overflow: hidden;
}

.light-theme .lista-noticias .nova-noticia p {
    color: black;
}

.light-theme .abreviar{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de linhas que você deseja exibir antes das reticências */
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}

.light-theme .nova-noticia {
    border-radius: 10px;
    overflow: hidden; /* Garante que a transformação de escala não ultrapasse o contêiner */
    font-family: 'Jost', sans-serif;
}

.light-theme .imagem-lista {
    transition: transform 0.3s; /* Adiciona uma transição suave à transformação de escala */
}

.light-theme .nova-noticia:hover .imagem-lista {
    transform: scale(1.05); /* Aumenta a escala da imagem ao passar o mouse por cima */
}

.light-theme .form-pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right:3  0%
}

.light-theme .nova-img-div {
    display: inline-block;
    overflow: hidden;
    width: 50%;
    border-radius: 10px;
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}

.light-theme .input-pesquisa {
    height: 40px; 
    border-radius: 10px; 
    width: 200px; 
    font-size: 16px; 
    font-family: 'Jost', sans-serif; 
    font-weight: bold; 
    margin-top: 0px;
    text-indent: 10px;
 }

.light-theme .entrar {
    display:flex; 
    flex-direction:row; 
    align-items:center;
 }

 .light-theme .entrar-btn:hover{
    background-color: rgb(167, 167, 167);
 }

.light-theme .entrar-btn {
    background: none; 
    border: none;
    border-radius: 5px;
    width: 80%;
    height: auto;
    cursor: pointer; 
    margin-left: 30px; 
    margin-right: 10px;
    padding-top:20px;
    padding-bottom:20px;
    font-size: 20px; 
    font-family: 'Jost', sans-serif; 
    font-weight: bold;
 }

.light-theme .cadastrar-btn {
    cursor: pointer; 
    background-color:aquamarine;
    width: 90%;
    height: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin-left: 30px; 
    margin-right: 10px;
    padding-top:20px;
    padding-bottom:20px;
    font-size: 20px; 
    font-family: 'Jost', sans-serif; 
    font-weight: bold;
 }

 .light-theme .cadastrar-btn:hover{
    cursor: pointer; 
    background-color:rgb(38, 209, 152);
    width: 90%;
    height: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin-left: 30px; 
    margin-right: 10px;
    padding-top:20px;
    padding-bottom:20px;
    font-size: 20px; 
    font-family: 'Jost', sans-serif; 
    font-weight: bold;
 }

 .light-theme .titulo-newz {
    text-decoration: none;
    margin-top: -1%;
    margin-left:20%;
    color: black; 
    display: flex;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 300%;
}

.light-theme .access button {
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 3%;
    border-radius: 10px;
    margin-top: 0.5%;
    margin-left: 0.5%;
    float: right;
}


.light-theme .access img {
    width: 70%;
}

.light-theme .access button.ativo {
    background-color: aquamarine; /* Cor de fundo ativa */
}

.ordenar {
    display: flex;
    justify-content:end;
    margin-top: 2%;
    align-items: center;
}

.light-theme #setinha{
    content: url('../figuras/dropdown-light-theme.png')
}
.light-theme #logo{
    content: url('../figuras/newz-light-theme.png')
}
.light-theme #git{
    content: url('../figuras/github-light-theme.png')
}
.light-theme #theme-toggle{
    content: url('../figuras/toggle-light-theme.png')
}
.light-theme #fonte-normal{
    content: url('../figuras/fonte-normal-light-theme.png')
}
.light-theme #fonte-grande{
    content: url('../figuras/aum-fonte-light-theme.png')
}
.light-theme #fonte-pequena{
    content: url('../figuras/dim-fonte-light-theme.png')
}

.light-theme .access .toggle{
    width: 90px; 
    height:auto; 
    right: 0; 
    left: 0;
    float: right;
    cursor: pointer;
    margin-right: 2%;
    margin-left: 1%;
    margin-top: 0.2%;
}

/* Tema escuro */   

.dark-theme .access .toggle{
    width: 100px; 
    height:auto; 
    right: 0; 
    left: 0;
    float: right;
    cursor: pointer;
    margin-right: 2%;
    margin-left: 1%;
    margin-top: 0.2%;
}

.dark-theme #theme-toggle{
    content: url('../figuras/toggle-dark-theme.png')
}
.dark-theme #setinha{
    content: url('../figuras/dropdown-dark-theme.png')
}
.dark-theme #logo{
    content: url('../figuras/newz-dark-theme.png')
}
.dark-theme #git{
    content: url('../figuras/github-dark-theme.png')
}
.dark-theme #fonte-normal{
    content: url('../figuras/fonte-normal-dark-theme.png')
}
.dark-theme #fonte-grande{
    content: url('../figuras/aum-fonte-dark-theme.png')
}
.dark-theme #fonte-pequena{
    content: url('../figuras/dim-fonte-dark-theme.png')
}

.dark-theme {
  background-color: #021421;
  color: #fff;
}

.dark-theme .nav-inicio {
    width:100%;
    position: sticky;
    top: -15px;
    background-color: #021421;
    z-index: 3;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dark-theme .titulo-newz {
    text-decoration: none;
    margin-top: -1%;
    margin-left:20%;
    color: white; 
    display: flex;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 300%;
}
.dark-theme .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Jost', sans-serif; 
    font-weight: bold;
}

.dark-theme .logado a {
    margin-right: 5%;
    color: white;
    margin-top: auto; /* Faz com que o link seja alinhado à parte inferior */
    align-self: flex-end; /* Justifica o link à direita */
    border-radius: 10px;
    text-align: center;
}
.dark-theme .titulo-noticia {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de linhas que você deseja exibir antes das reticências */
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    font-family: 'Jost', sans-serif; 
    position: relative;
    text-shadow: 2px 2px 4px black;
    z-index: 2;
    top: 0;
    left: 0;
    color: white; /* Cor do texto do título */
    width: 85%; /* Tornar o título largo como a imagem */
    margin: -140px; /* Remover margens padrão */
    text-align: center; /* Centralizar o texto do título */
}
.dark-theme .lista-noticias .nova-noticia .noticia-title {
    flex: 1; /* Faz com que o texto ocupe todo o espaço restante */
    color: white;
    font-size: 1vw;
}
.dark-theme .lista-noticias .nova-noticia p {
    color: white;
}

.dark-theme .dropbtn {
    font-family: 'Jost', sans-serif; 
    font-weight: bold; 
    font-size: 22px;
    color: white;
    border: none;
    background: none;
}

/* The container <div> - needed to position the dropdown content */


.dark-theme .dropdown-content {
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: #03233a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dark-theme .dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Jost', sans-serif; 
    font-weight: bold;
}

.dark-theme .cadastrar-btn {
    cursor: pointer; 
    background-color:rgb(109, 0, 109);
    width: 90%;
    color: white;
    height: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin-left: 30px; 
    margin-right: 10px;
    padding-top:20px;
    padding-bottom:20px;
    font-size: 20px; 
    font-family: 'Jost', sans-serif; 
    font-weight: bold;
 }

 .dark-theme .dropdown-content a:hover {
    background-color: #777;
}

.dark-theme .cadastrar-btn:hover{
    cursor: pointer; 
    background-color:rgb(77, 0, 77);
    width: 90%;
    height: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin-left: 30px; 
    margin-right: 10px;
    padding-top:20px;
    padding-bottom:20px;
    font-size: 20px; 
    font-family: 'Jost', sans-serif; 
    font-weight: bold;
 }

 .dark-theme .entrar-btn:hover{
    background-color: #777;
 }

.dark-theme .entrar-btn {
    background: none; 
    border: none;
    border-radius: 5px;
    width: 80%;
    height: auto;
    cursor: pointer; 
    margin-left: 30px; 
    margin-right: 10px;
    padding-top:20px;
    padding-bottom:20px;
    font-size: 20px; 
    font-family: 'Jost', sans-serif; 
    font-weight: bold;
    color:white
 }

 .dark-theme .icon2 {
    width: 6%; 
    height: auto; 
    vertical-align: middle;
}

.dark-theme .icon {
    width: 140px; 
    height: auto; 
    max-width: 140px;
}

.dark-theme .left-div {
    display: flex;
    margin-top: 1%;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    text-align:left;
}

.dark-theme .right-div {
    margin-right: 7%;
    display: flex;
    margin-top: 1%;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.dark-theme .access button {
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 3%;
    border-radius: 10px;
    margin-top: 0.5%;
    margin-left: 0.5%;
    float: right;
}


.dark-theme .access img {
    width: 70%;
}

.dark-theme .access button.ativo {
    background-color: rgb(109, 0, 109); /* Cor de fundo ativa */
}